* {
  padding: 0;
  margin: 0;
}
body {
  font-size: 12px;
  font-family: Microsoft Yahei;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.hide {
  display: none;
}
.active {
  display: block;
}
.header {
  height: 100px;
  background-color: #008BFF;
}
.header h2 {
  text-align: center;
  line-height: 100px;
  color: #fff;
}
.wrap {
  position: absolute;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  bottom: 100px;
  background-color: #00ff00;
}
.wrap .left-contain {
  width: 100px;
  height: 100%;
  position: absolute;
  right: 0;
  background-color: #87C7E8;
}
.content {
  height: 100%;
}
.wrap .left-contain .item-list {
  height: 100%;
}
.wrap .left-contain .item-list li {
  height: 20%;
  cursor: pointer;
  border-bottom: 1px solid #B6B4B4;
}
.wrap .left-contain .item-list li:last-child {
  border-bottom: none;
}
.wrap .left-contain .item-list li:hover {
  background-color: #94AFEA;
}
.wrap .left-contain .item-list li p {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.wrap .right-contain {
  height: 100%;
  margin-right: 100px;
  background-color: #E1F9F9;
  overflow: auto;
}
.footer {
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #C7C7C7;
}
.footer .footer-links,
.footer .footer-title {
  width: 80%;
  margin: 0 auto;
}
.footer .footer-links .footer-link-item {
  width: 80px;
  height: 30px;
  text-align: center;
  border: 1px solid;
}
.footer .footer-links .footer-link-item a {
  line-height: 30px;
}
